.productos__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
    margin-bottom: 1.25rem;
    width: calc(50% - .5rem);
}

.productos__card:nth-last-child(odd) {
    margin-right: 0;
}

.productos__card___imagen {
    width: 100%;
}

.productos__card___base {
    padding: .25rem 0 .75rem .2rem;
}

.productos__card___titulo {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.productos__card___precio {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.productos__card___enlace {
    color: #2A7AE4;
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-top: .5rem;
    text-decoration: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .productos__card___imagen {
        height: 11.875rem;
        object-fit: cover;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .productos__card {
        flex: 1;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}