.logo {
    content: url("../../img/logo.svg");
}

.header__nav__link__logo {
    width: 6.25rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header__nav__link__logo {
        width: initial;
    }
}