.agregarProducto {
    padding: 2.5rem 2rem;
    *text-align: -moz-center;
}

.resgistro__formulario {
    margin: auto;
    max-width: 560px;
}

.input-container > button {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding-top: 12.5%;
    color: #A2A2A2;
}

.button-agregar {
    width: 100%;
}

.drag-area {
    width: 100%;
}

.form__label {
    padding-bottom: .5rem;
}
