:root {
    --font-family: 'Raleway', sans-serif;
}

.app {
    background-color: #F5F5F5;
    display: grid;
    grid-template-areas:
        "header"
        "contenido"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    font-family: var(--font-family), sans-serif;
}

.header {
    background: #FFFFFF;
    grid-area: header;
}

.contenido {
    grid-area: contenido;
}

.oculto {
    display: none;
}

.footer {
    background: #FFFFFF;
    grid-area: footer;
}