.footer {
    color: #464646;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    padding: 20px;
    text-align: center;
    padding: 1rem 0;
}