.header__nav--home {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 88%;
}

.header__nav__link,
.header__nav__wrapper {
    width: 50%;
}

.header__nav__link {
    display: flex;
    justify-content: space-evenly;
}

.header__nav__link__logo {
    width: -moz-available;
    max-width: 176px;
}

.header__nav__wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}

.header-utilitario-busca {
    font-size: 17.5px;
    color: #464646;
}

.header-utilitario-busca:hover {
    cursor: pointer;
}

.header__nav__link--login {
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none;
}

.header-barraBusca__wrapper {
    display: none;
}

.header-barraBusca__wrapper__form {
    background-color: #FFFFFF;
    border-radius: 20px;
}

.header-barraBusca__wrapper__form input,
.header-barraBusca__wrapper__form button {
    background: none;
    border: none;
}


.header-barraBusca__wrapper__form input {
    color: #A2A2A2;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: .5rem 1rem;
}

.header-barraBusca__wrapper__form input:focus {
    outline: none;
}


.header-barraBusca__wrapper__form button {
    font-size: 24px;
    color: #A2A2A2;
    padding: .5rem 1rem .5rem 0;
}