.login {
    padding: 2.5rem 2rem;
}

.login__formulario {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 275px;
}

.form__label {
    margin: auto;
    padding-bottom: 1rem;
}

.button-entrar {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 1rem;
    width: 109px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .login__formulario {
        max-width: 412px;
    }

    .button-entrar {
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }
}