.producto {
    padding-bottom: 1rem;
}

.producto__card___base {
    padding: 0 1rem;
}

.productos__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
}

.productos__titulo {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.productos__similares {
    display: flex;
    flex-wrap: wrap;
}

.productos__card:nth-last-child(2n+1) {
    margin-right: auto;
}

.productos__card:nth-last-child(2n) {
    margin-right: 0;
}

.productos__card___imagen-producto {
    height: 10rem;
    width: 100%;
    min-width: 15.875rem;
    object-fit: cover;
}

.productos__items {
    padding: 1rem 1rem;
}

.producto__card___base {
    padding-left: 1rem;
}

.productos__card___base {
    padding-top: 1rem;
}

.productos__card___descripcion {
    color: #333333;
    line-height: 1.5rem;
    margin: 1rem 0;
    *text-align: justify;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .producto__card {
        align-items: center;
        display: flex;
        *padding: 1rem 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .producto__card {
        margin: auto;
        width: 88%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .productos__card {
        width: calc((100% / 5) - .8rem);
    }

    .productos__card___imagen-producto {
        height: 370.76px;
        width: 515.2px;
        min-width: auto;
        object-fit: cover;
    }

    .producto__card___titulo {
        font-weight: 500;
        font-size: 52px;
        line-height: 61px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}