.button {
    background-color: #2A7AE4;
    border: none;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 1rem;
    padding: .75rem 1rem;
}