.input {
    color: #413B3B;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: .5rem 0;
    padding: 1.5rem 0.5rem 0.75rem;
}

.input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.input:focus {
    outline: none;
}

.input-label {
    color: #A2A2A2;
    cursor: text;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: 2rem;
    left: 0.5rem;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.25s;
}

.input-label--message,
.input-label--descripcion {
    top: 2rem;
}

.input-label--categoria {
    font-size: 0.875rem;
    top: 0.75rem;
}

.input:not(:placeholder-shown)+.input-label,
.input:focus+.input-label {
    font-size: 0.875rem;
    top: 0.75rem;
    transition: all 0.25s;
}

.input-message-error {
    display: none;
}

.input-container--invalid .input-message-error {
    color: #df2525;
    display: block;
    font-size: 14px;
    padding-left: 0.5rem;
    text-align: initial;
    top: 87.5%;
}

.input-container--invalid .input-message-error--mensaje,
.input-container--invalid .input-message-error--descripcion {
    top: 92.5%;
}

.to-select {
    background: #fff;
    padding-top: 1.75rem;
    padding-left: .25rem;
}