.productos {
    padding: 1rem 1rem;
}

.productos__items {
    padding: 1rem 0;
}

.productos__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
}

.productos__titulo {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.productos__boton {
    background: none;
    border: none;
    color: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.productos__boton:hover {
    cursor: pointer;
}

.productos__contenido {
    display: flex;
    flex-wrap: wrap;
}