.productos {
    padding: 1rem 1rem;
}
.productos__items {
    padding: 1rem 0;
}

.productos__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
}

.productos__titulo {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.productos__boton {
    background: none;
    border: none;
    color: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.productos__boton:hover {
    cursor: pointer;
}

.productos__contenido {
    display: flex;
    flex-wrap: wrap;
}

.productos__card {
    margin-right: 1rem;
    width: calc(50% - .5rem);
}

.productos__card:nth-last-child(odd){
    margin-right: 0;
}

.productos__card___imagen {
    width: 100%;
}

.productos__card___base {
    padding: .25rem 0 .75rem .1rem;
}

.productos__card___titulo {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.productos__card___precio {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.productos__card___descripcion a {
    color: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}