.contacto {
    padding: 1rem 2rem;
    background: #EAF2FD;
}

.listaNavegacion {
    text-align: center;
}

.listaNavegacion__enlace{
    padding: .5rem 0;
}

.listaNavegacion__enlace a {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.formulario {
    padding-top: 1.5rem;
}

.form__label {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.formulario {
    *margin: 0 auto;
}

.button {
    background-color: #2A7AE4;
    border: none;
    color: #FFFFFF;
    margin-top: 1rem;
    padding: 12px 16px;
    text-decoration: none;
}