.contacto {
    padding: 1rem 2rem;
    background: #EAF2FD;
}

.listaNavegacion {
    text-align: center;
    padding-bottom: 1.5rem;
}

.listaNavegacion__enlace{
    padding: .5rem 0;
}

.listaNavegacion__enlace a {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.form__label {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
